#showPortland {
  display: none;
}

#showPortland p {
  font-weight: bold;
}

h1 {
  text-align: center;
}

.resident {
  cursor: pointer;
  color: #0088cc;
}

.resident:hover {
  text-decoration: underline;
}
